.header{
    justify-content: space-between;
  }
  .manu{
    display: flex;
    
  }
  .button{
    background-color: coral;
    align-items:center;
    padding: 20px 130px;
    color:white;
  }
  .p{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .title{
    text-align: center;
    font-family: Arial, ;
    font-size: 58px;
    font-weight: 600px;
  }
  .b1{
    border:1px solid mediumturquoise;
    background-color: white;
    border-radius: 25px;
    color:mediumturquoise;
  }
  .b{
    border: 1px solid deeppink;
    background-color: white;
    border-radius: 25px;
    color:deeppink;
    font-size: 15px;
    display: inline-block;
    
    
  }
  .b2{
    border-radius: 25px;
  }
  .checked {
    color: orange;
  }
  .footer{
    height: 700px;
    padding: 20px 60px;
  }